<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
    <style>
      .otp {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <p>Hallo {{name}},</p>

    <p>We received a request to change your account password.</p>

    <p>Here is your OTP code:</p>

    <div class="otp">{{otp}}</div>

    <p>This code is valid for {{time_minutes}} minutes. Do not share this code with anyone.</p>

    <p>If you don't feel like making this request, just ignore this email.</p>

    <br>
    <p>Regards,</p>
    <p>{{company_team}} Team</p>
  </body>
</html>
